html{
   background-image:url(prince.jpg) ;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
button{
    width:150 ;
    height: 20;
    font-style: normal;
    margin-top: 400;
    margin-left: 400;
    color: #000;
    background-color: yellowgreen;
    border-radius: 10%;
}
h1{
    color: #000;
    margin-top: 50;
    margin-left: 150;
}
