html{
   background-image:url(prince2.png) ;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
button{
    width:150 ;
    height:20;
    font-style: normal;
    margin-top: 350;
    margin-left: 550;
    color: #000;
    background-color: yellowgreen;
    border-radius: 10%;
}
h1{
    color: #000;
    margin-top: 30;
    margin-left: 150;
}
