html{
   background-image:url(background.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
button{
    width:250 ;
    height:40;
    font-style: normal;
    margin-top: 450;
    margin-left: 500;
    color: #000;
    background-color: pink;
    border-radius: 10%;
}

